@font-face {
    font-family: 'libre'; 
    src: url('/src/assets/LibreFranklin-VariableFont_wght.ttf'); 
  }
  
  @font-face {
    font-family: 'mono'; 
    src: url('/src/assets/SpaceMono-Regular.ttf'); 
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-right: -60px; 
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #457a60);
  }
  
  .landing {
    display: flex; 
    flex-direction: row;
    align-items: center;
    height: 100vh;  
    justify-content: center;
  }
  
  .title {
    display: flex; 
    flex-direction: column; 
    gap: 5px;  
    position: relative; 
    width: 690px; 
    left: 30px; 
  }
  
  .motto {
    width: 750px;
    height: 304px;
    color: #E4BEF7;
    font-family: libre;
    font-size: 85px;
    font-style: normal;
    font-weight: 900;
    line-height: 85px; /* 88.542% */
    text-align: left;
    margin: 10px; 
  }
  
  .intro {
    font-family: mono; 
    font-size: 29.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: left; 
    margin: 10px; 
  }
  
  .scroll {
    font-family: mono; 
    font-size: 25px; 
    position: absolute; 
    top: 80%; 
    left: 50%;   
    transform: translateX(-50%);
  }

  .scroll-arrow {
    position: relative; 
    top: -20px; 
  }

  .buttons {
    position: absolute; 
    top: 90px; 
    right: 90px; 
    display: flex; 
    gap: 20px; 
  }

  .login-button {
    text-align: center;
    font-family: mono;
    font-size: 25px;
    border-radius: 15px;
    background-color: #3C3B3E;
    border: 3px solid #B6FFDA;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .login-button:hover {
    background-color:  #B6FFDA;
    color: #3C3B3E; 
  }

  .flowchart {
    position: relative; 
    top: 80px; 
    width: 1000px; 
    height: 1000px; 
  }

  .flowchart-text {
    color: #FFF;
    font-family: libre; 
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    width: 456px;
    height: 149px;
    position: absolute; 
    left: 50%; 
    transform: translate(-50%); 
    top: 400px; 
  }

  .arrow {
    stroke-width: 5px;
    stroke: #FFF;
  }

  .learn-more {
    font-family: mono; 
    font-size: 29.25px;
    position: relative; 
    top: 250px; 
  }

  .widgets {
    display: flex; 
    flex-direction: row; 
    gap: 40px; 
    justify-self: center;
    position: relative; 
    top: 300px; 
  }

  
  
  